body{
  background-color: #8d9db6;
}
fieldset{
  background-color: #bccad6;
  vertical-align: center;
  border: 2px white;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
label,h1{
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px; 
  font-weight: 600;
  display: block;
  color: white;
}
h1{
  font-size: 36px; 
  color: black;
  padding: 12px;
}

#submit{
  border: 0;
  background-color: #8d9db6;
  padding: 6px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 600; 
}
#submit:hover{
  background-color: #a2b9bc;	
}

@media(min-width: 800px){
fieldset{
  float: none;
  width: 100%;
  padding: 0px;
}
label, input{
  padding: 36px;
  width: 100%;
  font-size: 24px;
}
}