body{
  background-color:#8d9db6;
}
fieldset{
  background-color:#bccad6;
  height:100px;
  border:6px dashed white;
  width: 80%;	
}

label,h1{
  text-align:center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:12px; 
  font-weight:600;
  display:block;
  color:white;
}
h1{
  text-align:left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:36px; 
  font-weight:600;
  color:black;
}

@media(min-width:800px){
fieldset{
  float:none;
  width:100%;
}
label, input{
  padding: 12px;
  width:100%;
}
}